version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nastya-site-app
    restart: unless-stopped
    ports:
      - "8000:3000"
    environment:
      NODE_ENV: production

